@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&subset=latin,cyrillic);

@font-face {
        font-family: "ImpactRegular";
        src: url("../css/fonts/ImpactRegular/ImpactRegular.eot");
        src: url("../css/fonts/ImpactRegular/ImpactRegular.eot?#iefix")format("embedded-opentype"),
        url("../css/fonts/ImpactRegular/ImpactRegular.woff") format("woff"),
        url("../css/fonts/ImpactRegular/ImpactRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: "RalewayRegular";
        src: url("../css/fonts/Raleway/RalewayRegular/RalewayRegular.eot");
        src: url("../css/fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
        url("../css/fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"),
        url("../css/fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: "RalewayLight";
        src: url("../css/fonts/Raleway/RalewayLight/RalewayLight.eot");
        src: url("../css/fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
        url("../css/fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"),
        url("../css/fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: "RalewayBold";
        src: url("../css/fonts/Raleway/RalewayBold/RalewayBold.eot");
        src: url("../css/fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
        url("../css/fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
        url("../css/fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: "RalewayMedium";
        src: url("../css/fonts/Raleway/RalewayMedium/RalewayMedium.eot");
        src: url("../css/fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
        url("../css/fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff"),
        url("../css/fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

@font-face {
        font-family: "RalewaySemiBold";
        src: url("../css/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
        src: url("../css/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
        url("../css/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
        url("../css/fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('../css/fonts/Intro/Intro-Black.eot');
    src: local('../css/fonts/Intro/Intro Black'), local('../css/fonts/Intro/Intro-Black'),
        url('../css/fonts/Intro/Intro-Black.eot?#iefix') format('embedded-opentype'),
        url('../css/fonts/Intro/Intro-Black.woff') format('woff'),
        url('../css/fonts/Intro/Intro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
